body {
    width: 360px;
    background-color: #f7f7f7;
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

section{
    padding: 30px;
}

html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}

h1, h2, h3 {
    text-transform: uppercase;
}

h2 {
    color:#454545;
    font-family: 'Source Sans Pro';
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 6px;
    margin-top: 33px;
}

/*//////////////////////////////////

header section

//////////////////////////////////*/

header {
    background-color: #acd373;
    height: 40px;
    position: relative;
}

.logo {
    display: inline-block;
    margin: 8px 0 0 30px;
}

nav {
    background-color:#89a85c;
    background-image: url(images/nav_menuicon.png);
    background-repeat: no-repeat;
    background-position:center;
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
}

/*//////////////////////////////////

greeting section

//////////////////////////////////*/

.greeting {
    background: #9abd67 url(images/header_silhouette_bkg.png) no-repeat bottom;
    height: 350px;
    position: relative;
    color: #f7f7f7;
    padding: 0;
}


.greeting > div {
    position:absolute;
    top: 50%;
transform:translateY(-50%);
    width: 100%;
}

.greeting h1 {
    font-size: 20px;
    text-align: center;
    font-weight: 600;
}

.greeting span {
    font-family: 'Droid Serif', serif;
    font-size: 13px;
    font-style: italic;
    text-align: center;
    display: block;
}

#scrollarrow-vertical {
    display: block;
    margin: 50px auto 0;
}

/*//////////////////////////////////

who we are section

//////////////////////////////////*/

.who-we-are .iphone {
    display: block;
    margin: 0 auto;
    padding-top: 13px;
    padding-bottom: 25px;
}

.who-we-are h2 {    
    font-size: 18px;
    color: #454545;
    font-weight: 400;
    background: url(images/whoweare_dudeicon.png) no-repeat;
    height: 30px;
    padding-left: 38px;
    line-height: 30px;
}
    
.who-we-are p {
    color: #454545;
    font-size: 13px;
    width: 298px;
}

.learn-more-link {
    color:#acd473;
    font-family: DroidSerif;
    font-size: 11px;
    font-style: italic;
    text-decoration: none;
    border-color: #acd373; 
    border-style: solid;
    border-width: 1px;
    padding: 11px 15px;
    display: inline-block;
    margin: 17px 0px;
    width: 95px;
}

/*//////////////////////////////////

video section

//////////////////////////////////*/

.video {
    padding: 0;
}

/*//////////////////////////////////

services section

//////////////////////////////////*/

.services {
    padding: 0px;
}

.services h2 {
    color:#454545;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    margin-bottom: 6px;
    margin-top: 33px;
}

.quote {
    display: block;
    font-family: DroidSerif;
    font-size: 12px;
    color: #454545;
    text-align:center;
}

.divider {
    display:block;
    margin: 12px auto;
    
}
.services em {
    color:#acd373;
    font-style: normal;
}

.service-item {
    list-style: none;
}

.service-img {
    display: inline-block;
    vertical-align: top;
    width: 50px;
    margin-top: 15px;
}

.service-info {
    min-height: 80px;
    display: inline-block;
    margin-top: 15px;
}

.service-info p {
    margin-top: 7px;
}

.service-info h3 {
    font-size:14px;
    color:#acd373;
    font-weight: 600;
    margin: 0px;
}

.service-info p {
    font-family: DroidSerif;
    font-size: 12px;
    color: #454545;
    width: 214px;
}

.services .learn-more-link {
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 47px;
}

/*//////////////////////////////////

team section

//////////////////////////////////*/

.team {
    background-color: #acd373;
}

.team h2 {
    color:#f7f7f7;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    margin: 6px;
}

.team .quote {
    color:#f7f7f7;
}

.team-member {
    width:200px;
    background-color: #f7f7f7;
    margin-top: 70px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
}

.team-member h3 {
    font-size:14px;
    color:#acd373;
    font-weight: 600;
    margin-top: 32px;
    margin-bottom: 8px;
    text-align: center;
}

.team-member span {
    font: italic 12px DroidSerif;
    color:#787878;
    text-align: center;
    display: block;
    margin-bottom: 15px;
}

.team-member .social-links {
    padding: 15px;
    text-align: center;
    background-color: #ebebeb;
    width:200px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-bottom: 60px;
}

.round-pic {
    border-radius: 50%;
    border: 5px solid #acd373;
    position: absolute;
    top:  -28px;
    left: 50%;
    transform: translateX(-50%);
}

.team-footer {
    background-color: #9abd67;
    height: 66px;
    position: relative;
    margin: 0 -30px -30px;
}

.team-footer p {
    color:#f7f7f7;
    font-weight: 100;
    font-size: 13px;
    display: inline;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    margin-right: 40px;
}

.team-footer .learn-more-link {
    color: #f7f7f7;
    border-color:#f7f7f7;
    weight: 100;
    width: 100px;
    padding: 10px;
}

/*team aelector*/

.team-selector {
    position: relative;
}

.team-arrows {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    
}

.left-arrow {
    left: 0px;

}

.right-arrow {
    right: 0px;
}


/*//////////////////////////////////

works section

//////////////////////////////////*/

.works-header h2 {
    text-align: center;
}

.works-header em {
    font-style: normal;
    color:#acd373;    
}

.work-sample {
    margin-top: 52px;
    background-color: #ebebeb;
    height: 243px
}

.work-sample h3 {
    color: #454545;
    weight: 600;
    font-size: 14px;
    text-align: center;
    margin-bottom: 6px;
}

.work-sample span {
    font: italic 12px DroidSerif;
    color:#787878;
    text-align: center;
    display: block;
    margin: 0;
}

.works .learn-more-link {
    width: 100px;
    padding: 8px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 45px;
    margin-bottom: 45px;
}

.works-footer {
    background-color: #ebebeb;
    height: 80px;
    position: relative;
    margin: 0 -30px -30px;
    padding: 30px;
}

#envato-logo {
    left: 0px;
}

#themeforest-logo {
    right: 0px;
}


/*//////////////////////////////////

testimonials section

//////////////////////////////////*/

.testimonials {
    background: url(images/testimonial_bkg.jpg) no-repeat;
    color:#f7f7f7;
}

.testimonials .learn-more-link {
    width: 123px;
}

.testimonials h2 {
    color:#f7f7f7;
    font-weight: 200;
}

.testimonials p {
    font-size: 13px;
    font-weight: 100;
}

.quote-box {
    border: 1px solid;
    margin-top: 30px
}

.quote-box p {
    margin-left: 10px;
    margin-right: 10px;
}

.quote-box {
    background: url(images/testimonials_quotationmarks.png) no-repeat;
    padding: 5px 5px 8px;
    background-position: 254px 60px;
}

.quote-box {
    margin: 0;
}

.testimonial-company img, .company-details {    display: inline-block;

}
.testimonial-company img {
    border-radius: 50%;
}

.company-details h3 {
    font-size:14px;
    color:#acd373;
    font-weight: 600;
}

.company-details a {
    text-decoration: none;
    font: italic 12px DroidSerif;
    color:rgba(247, 247, 247, 0.85);
}

/*//////////////////////////////////

blog section

//////////////////////////////////*/


.blog {
    padding: 30px 0px;
}

.blog ul {
    padding: 0;
}

.blog h2 {
    text-align: center;
    margin-top: 20px;
}

.blog .divider {
    margin-bottom: 36px;
}

.blog-post {
    width: 160px;
    display: inline-block;
    vertical-align: top;
    margin: 0 0 10px 12px;
    position: relative;
}

.blog-type{
    display: block;
    width: 40px;
    height: 40px;
    background-color: #acd373;
    border: 5px solid #ebebeb;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    z-index: 1;
    top: 70px;
    left: 60px;
    
}

.blog-title {
    
}

.blog-post h4 {
    font-size: 11px;
    color: #454545;
    weight: 100;
    text-align: center;
    background-color:#ebebeb;
    margin: 0;
    padding: 8px;
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(50%);
}

.type-mobile .blog-type {
   background-image: url(images/blog_app_mobileicon.png)   
}

.type-desktop .blog-type {
   background-image: url(images/blog_UXUI_icon.png)   
}

.type-chart .blog-type {
   background-image: url(images/blog_quicktip_icon.png)   
}

.type-globe .blog-type {
   background-image: url(images/blog_webdesign_globeicon.png)   
}


